<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Oper Blaster</title>
        <link rel='stylesheet' href='//fonts.googleapis.com/css?family=font1|font2|etc' type='text/css'>
        <link rel='stylesheet' href='templates/view.css' type='text/css'>
    </head>
    <body>
        <div id="wrapper">
            <div id='container'>
                <img id="announcement" src="view_image.jpg">
                <div id='buttonRow'>
                    
                </div>
            </div>
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript"></script>
    </body>
</html>